<style>

  /* Custom button color */
  .btn-custom {
    background-color: #f4853c;
    color: black;
  }

  /* Hover effect (optional) */
  .btn-custom:hover {
    background-color: #060606; /* Change color on hover */
    color: white; /* Maintain text color */
  }

</style>


{% extends 'base.html' %} {% load static %} {% block 'main' %}

<div class="bg row mt-3">
  <div class="col-md-4 bg-transparent">
    <h5 class="bg-transparent custom-headline mt-2">Filter by Category</h5>
    <hr class="animated-line" />
    <p><a class="anchor text-white" href="/">All</a></p>
    <p><a class="anchor text-white" href="/catfilter/1">By New Laptops</a></p>
    <p><a class="anchor text-white" href="/catfilter/2">By Old Laptops</a></p>
    <p><a class="anchor text-white" href="/catfilter/3">By Laptop Part</a></p>

    <h5 class="custom-headline mt-5">Filter by Price Range</h5>
    <hr class="animated-line" />

    <form action="/range">
      <div class="mb-3">
        <label for="input1" class="form-label text-white">Min Value</label>
        <input
          type="number"
          name="min"
          class="form-control"
          id="input1"
          placeholder="Minimum value"
        />
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label text-white">Max Value</label>
        <input
          type="number"
          name="max"
          class="form-control"
          id="input2"
          placeholder="Maximum value"
        />
      </div>
      <div class="mb-3">
        <input type="submit" class="btn btn-custom" value="submit" />
      </div>
    </form>
    <h5 class="custom-headline mt-5">Sort By Price</h5>
    <hr class="animated-line" />

    <p><a href="/sort/0" class="anchor text-white">Low to High</a></p>
    <p><a href="/sort/1" class="anchor text-white">High to Low</a></p>
  </div>
  
  <!-- Filter side bar end-->
  <div class="col-md-8">


    <div class="row">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/images/slied1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/images/slied2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/images/slied3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>


    <div class="row">
      {% for x in products %}
      <div class="col-md-4 mt-3 p-2">
        <div class="card" style="width: 100%">
          <img
            src="{{x.pimage.url}}"
            height="200px"
            width="100%"
            class="card-img-top p-2"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title ">{{x.name}}</h5>
            <p class="card-text">Rs. {{x.price}}</p>
            {% if x.cat == 1 %}
            <p class="card-text">New Laptop</p>
            {% elif x.cat == 2 %}
            <p class="card-text">Old Laptop</p>
            {% else %}
            <p class="card-text">Parts of laptop</p>
            {% endif %}
            <a href="/pdetails/{{x.id}}" class="btn btn-custom">See Details</a>
          </div>
        </div>
      </div>
      <!-- Product 1 end-->
      {% endfor %}
    </div>
  </div>
  <!-- Product end-->
</div>
<!-- product and filter end-->

{% endblock 'main' %}
